# Ignore Visual Studio files
*.vs/
*.suo
*.user
*.bak
*.cache
*.log
*.vspscc
_ReSharper.*

# Ignore build output
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb
*.cache
*.log

# Ignore NuGet packages
packages/

# Ignore node_modules directory
node_modules/

# Ignore temporary files
*~
